.counter{
    display: flex;
    flex-direction: column;
    width: 8.0rem;
    gap: 1.0rem;
    font-size: 20px;
    text-align: center;
    align-items: center;
    
    
  }

 .counter-number{
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
    width: 90px;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(99, 90, 90, 0.356);
 } 